body{
  background-image: url(https://miro.medium.com/max/3840/1*_gg1Te-7SJfk9E2D-mORfw.png);
  background-position: center center;
  background-size: cover;
  position: relative;
  top: 0;
  bottom: 0;
  z-index: -10;
}
